body{
    background-color: #05000e ;
    font-family: 'Kanit', sans-serif;
    letter-spacing: .1em;
    
}

h1{
    color: #18F2B2;
}

header{
    text-align: center;
    margin: auto;
    padding-bottom: 20px;
    margin-bottom: 20px;
}


h2{
    padding: 0 10px;;
}
.grid{
    margin: 0 auto;
    justify-content: center;
    display: inline-grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: .75fr .25fr 1fr 1fr;
    gap: 10px;
    grid-template-areas:
      "Bio Resume"
      "Contact Resume"
      "Projects Projects"
      "Projects Projects";
    
}

#NavBar{
    margin: auto;
}

ul{
    width: 48vw;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0;
    border-radius: 10px;
    background-color: #B5FFE1
}

li{
    width: 12vw;;
}

a{
    font-size: larger;
    transition: 0.2s ease-in-out;
}

a:link, a:visited {
    flex-direction: row;
    background-color: #B5FFE1;
    color: black;
    font-weight: bold;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: block;
    border-radius: 10px;
}
  
a:hover, a:active {
    background-color: #18F2B2;
    color: #0F0326;
    transform: scale(1.1);
    font-weight: bolder;
    border-radius: 10px;
}

iframe{
    width: 95%;
    height: 95%;
    justify-content: center;
    padding: 10px;
}

#Bio{
    background-color: #D8FDF1;
    grid-area: Bio;
    width: 100%;
    text-align: left;
    border-radius: 10px;
}

#Bio>img{
    max-width: 80%;
    display: block;
    margin:auto;
}

#Bio>h2{
    max-width: 500px;
    margin: 0 auto;
}
#Resume{
    background-color: #D8FDF1;
    grid-area: Resume;
    float: right;
    height: 100%;
    border-radius: 10px;
}

#Portfolio{
    grid-area: Projects;
    width: 100%;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

#Contact{
    background-color: #D8FDF1;
    grid-area:Contact;
    width: 100%;
    line-height: 2rem;
    border-radius: 10px;
    text-align: center;
}

p{
    padding: 0 10px;
    padding-bottom: 5px;
    line-height: 2rem;
    max-width: 500px;
    letter-spacing: .07em;
    margin: auto;}

main{
    width: 66vw;
    margin: auto;
}

.PlaceHolderProject{
    background-color: #D8FDF1;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .1fr .5fr .1fr;
    grid-template-areas: 
    "Header image"
    "para image"
    "link image";
    justify-content: center;
    align-items: center;
}

.PlaceHolderProject>p{
    display: inline-block;
    grid-area: para;
}

.PlaceHolderProject>h2{
    display: inline-block;
    grid-area: Header;
}

.PlaceHolderProject>a{
    grid-area: link;
}

.FloatRight{
    grid-area: image;
    float: right;
    max-width: 90%;
    max-height: 100%;
    margin: 10px;
}

footer{
    padding-left: 10px;
    max-width: 100px;
    background-color: #D8FDF1;
    font-weight: bold;
    margin: auto;
    border-radius: 10px;
}

iframe{
    border: 0;
}

#DMbutton{
    float: right;
    text-align: right;
    font-size: large;
    position: sticky;
    right: 20px;
    top: 0;
    padding: 10px;
    font-family: 'Kanit', sans-serif;
    background-color: #D8FDF1;
    margin: 10px;
    border-radius: 10px;
}

@media only screen and (max-width:800px){

    ul{
        flex-direction: column;
        padding: 0;
    }

    li{
        width: 95%;
    }

    .grid{
        display: flex;
        flex-direction: column;
        width: 90vw;
        margin: auto;
    }

    .PlaceHolderProject{
        margin: 10px auto;
    }

    main{
        width: auto;
    }

    iframe{
        width: 100%;
    }

    #Resume{
        margin: auto;
        width: 90vw;
        height: 90vh;
    }

    .NavBar{
        margin: 0 auto;
        padding: 0;
    }

}



  
  